:root {
  --green: #4ddb7f;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *::before, *::after { box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}
main {
  overflow-y: scroll;
}
.main {
  padding: 1rem 1.2rem;
}
.main label {
  margin-bottom: 0.4rem;
  display: inline-block;
  margin-top: 1rem;
}
.main label[for=radius],
.main label[for=elevation] {
  width: 4rem;
}

.coordinates__radius,
.coordinates__elevation {
  margin-left: 1rem;
  margin-right: 0.1rem;
  width: 20%;
  height: 2rem;
  text-align: right;
  padding: 0 0.5rem;
  word-spacing: 0.2rem;
}

.coordinates__list {
  width: 100%;
  max-width: 100%;
  padding: 0.7rem 0.5rem;
  line-height: 1.3rem;
}
.coordinates__list:focus {
  outline: solid 2px #c2daf6;
  border: solid 1px #2188ff;
}

/* Hide spine button
 */
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Chrome and Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}


.function-area {
  display: flex;
  justify-content: space-around;
}
.button {
  margin: 1rem;
  padding: 0.5em 2rem;
  background-color: whitesmoke;
  border: none;
  border: solid 2px transparent;
}

.button.green {
  background: #4ddb7f;
  border-color: #4ddb7f;
}
.button.green:focus,
.button.green:active {
  background: #30bb61;
}

.button.red {
  background: rgb(231, 117, 117);
  border-color: rgb(231, 117, 117);
}
.button.red:focus,
.button.red:active {
  background: rgb(224, 88, 88);
}

.button.fullwidth {
  width: 90%;
 }

.error {
  margin: 0.2rem;
  color: rgb(230, 98, 98);
}
input:invalid {
  border: solid 2px rgb(230, 98, 98);
}
input:invalid:focus {
  outline: solid 2px rgb(230, 98, 98);
}

.selection__items {
  background: whitesmoke;
  border: solid 1px #333;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.selection__items--selected {
  background: var(--green);
}

.selection__error {
  margin-left: 1rem;
}

.elevation-action {
  padding: 2rem 1rem;
}
.elevation-action div {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.elevation-action span {
  padding-bottom: -1rem;
}

.export-csv {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
